.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul{
  list-style-type: none;
  text-decoration: none;
}
.header{
  background-color: #1e5564;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 30px;
}
button{
  width: 20%;
  height: 60px;
  background-color: #4caac4;
  color: #FFF;
  font-size: 20px;
  border-radius: 5px;
}
.userslist{
  width: 50%;
  height: 500px;
  margin: 0 auto;
}
p{
  color: cornflowerblue;
  font-size: 22px;
}

